<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="loading">
            <img id="loading-image" src="../images/loading.gif" alt="Loading..." />
        </div>

        <div class="mapcontainer">
            <canvas id="hexmap" width="660" height="624"></canvas>
        </div>

        <div>
            <ul class="gamesList">
            </ul>
            <button id="btnNewGame">New Game</button>
        </div>

        <script src="../js/hexagons.js"></script>
        <script src="../js/jquery-1.11.3.js"></script>
        <script language="javascript">
            //socket.io
            var host = '{{host}}';
            var socket = io.connect(host + "/gamelist");

            socket.on('connect', function() {
                console.log('Conncetion Established !');
            });

            socket.on('gameroomupdate', function(data) {
                var games = JSON.parse(data);

                $('.gamesList').html('');
                for(var i = 0; i < games.length; i++) {
                    var sLI = "<li>Game: " + games[i].game_number + "</li>";
                    $('.gamesList').append(sLI);
                }
            });

            socket.on('mapupdate', function(data) {
                var map = JSON.parse(data);

                fnDrawAll(aImages, map);
            });

            $(document).on('click', '#btnNewGame', function() {
               socket.emit('newgame', { username: '{{user.username}}' });
            });

            //////////////

            var aImages = [];
            function loadSprite(src) {
                var deferred = jQuery.Deferred();
                var sprite = new Image();
                sprite.onload = function() {
                    console.log(src + " loaded.");
                    deferred.resolve();
                };
                sprite.src = src;
                aImages.push(sprite);
                return deferred.promise();
            }

            var loaders = [];
            //todo: get all possible hexagons, their initial coordinates and their related images
            loaders.push(loadSprite('../images/image1.png'));
            loaders.push(loadSprite('../images/image2.png'));
            loaders.push(loadSprite('../images/image3.png'));
            loaders.push(loadSprite('../images/image4.png'));
            loaders.push(loadSprite('../images/tile1.png'));
            loaders.push(loadSprite('../images/tile2.png'));
            loaders.push(loadSprite('../images/tile3.jpeg'));
            loaders.push(loadSprite('../images/tile4.jpeg'));
            loaders.push(loadSprite('../images/tile5.jpeg'));
            loaders.push(loadSprite('../images/tile6.jpeg'));
            loaders.push(loadSprite('../images/tile7.jpeg'));
            jQuery.when.apply(null, loaders).done(function() {
                console.log("All images loaded. Drawing in the canvas now...");
                fnDrawAll(aImages);
                jQuery('#loading').hide();
            });
        </script>
    </body>
</html>