<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="loading">
            <img id="loading-image" src="../images/loading.gif" alt="Loading..." />
        </div>

        <div class="mapcontainer">
            <canvas id="hexmap" width="660" height="624"></canvas>
        </div>

        <script src="../js/hexagons.js"></script>
        <script src="../js/jquery-1.11.3.js"></script>
        <script language="javascript">
            var aImages = [];
            function loadSprite(src) {
                var deferred = jQuery.Deferred();
                var sprite = new Image();
                sprite.onload = function() {
                    console.log(src + " loaded.");
                    deferred.resolve();
                };
                sprite.src = src;
                aImages.push(sprite);
                return deferred.promise();
            }

            function loadingImagesFinished() {
                //socket.io
                var host = '{{host}}';
                var socket = io.connect(host + "/game");

                socket.on('connect', function() {
                    console.log('Conncetion Established !');
                });


                socket.on('mapupdate', function(data) {
                    var map = JSON.parse(data);

                    fnDrawAll(aImages, map);
                });
                jQuery('#loading').hide();
            }

            var loaders = [];
            //todo: get all possible hexagons, their initial coordinates and their related images
            loaders.push(loadSprite('../images/image1.png'));
            loaders.push(loadSprite('../images/image2.png'));
            loaders.push(loadSprite('../images/image3.png'));
            loaders.push(loadSprite('../images/image4.png'));
            loaders.push(loadSprite('../images/tile1.png'));
            loaders.push(loadSprite('../images/tile2.png'));
            loaders.push(loadSprite('../images/tile3.jpeg'));
            loaders.push(loadSprite('../images/tile4.jpeg'));
            loaders.push(loadSprite('../images/tile5.jpeg'));
            loaders.push(loadSprite('../images/tile6.jpeg'));
            loaders.push(loadSprite('../images/tile7.jpeg'));

            jQuery.when.apply(null, loaders).done(loadingImagesFinished);
        </script>
    </body>
</html>