<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="../styles.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="loading">
            <img id="loading-image" src="../images/loading.gif" alt="Loading..." />
        </div>

        <div class="mapcontainer">
            <canvas id="hexmap" width="2700" height="2500"></canvas>
        </div>

        <input id="toX" value="0"/>
        <input id="toY" value="0"/>
        <button id="btnMove">Move</button>

        <script src="../js/jquery-1.11.3.js"></script>
        <script src="../js/hexagons.js"></script>
        <script language="javascript">
            var aImages = [];
            function loadSprite(src) {
                var deferred = jQuery.Deferred();
                var sprite = new Image();
                sprite.onload = function() {
                    console.log(src + " loaded.");
                    deferred.resolve();
                };
                sprite.src = src;
                aImages.push(sprite);
                return deferred.promise();
            }

            function loadingImagesFinished() {
                //socket.io
                var host = '{{host}}';
                var game_number = '{{game_number}}';
                var username = '{{user.username}}';
                var player = '{{player}}';
                console.log('player_pos: ' + player);
                console.log('user.username: ' + username);

                var socket = io.connect(host + "/game");

                socket.on('connect', function() {
                    console.log('Conncetion Established !');

                    socket.emit('creategamechannel', {username: username, player: player, game_number: game_number});
                });

                socket.on('mapupdate', function(data) {
                    var map = JSON.parse(data);

                    fnDrawAll(aImages, map);
//                    jQuery('.mapcontainer').scrollLeft(1000);
//                    jQuery('.mapcontainer').scrollTop(1000);
                });
                jQuery('#loading').hide();

                //interactions
                $(document).on('click', '#btnMove', function(e) {
                    var toX = $('#toX').val(),
                            toY = $('#toY').val();

                    socket.emit('playermove', { game_number: game_number, player: player, x: toX, y: toY});
                });
            }

            var loaders = [];
            //todo: get all possible hexagons, their initial coordinates and their related images
            loaders.push(loadSprite('../images/image1.png'));
            loaders.push(loadSprite('../images/image2.png'));
            loaders.push(loadSprite('../images/image3.png'));
            loaders.push(loadSprite('../images/image4.png'));
            loaders.push(loadSprite('../images/A.png'));
            loaders.push(loadSprite('../images/country_1.png'));
            loaders.push(loadSprite('../images/country_2.png'));
            loaders.push(loadSprite('../images/country_3.png'));
            loaders.push(loadSprite('../images/country_4.png'));
            loaders.push(loadSprite('../images/country_5.png'));
            loaders.push(loadSprite('../images/country_6.png'));
            loaders.push(loadSprite('../images/country_7.png'));
            loaders.push(loadSprite('../images/country_8.png'));
            loaders.push(loadSprite('../images/country_9.png'));
            loaders.push(loadSprite('../images/country_10.png'));
            loaders.push(loadSprite('../images/country_11.png'));
            loaders.push(loadSprite('../images/country_12.png'));
            loaders.push(loadSprite('../images/country_13.png'));
            loaders.push(loadSprite('../images/country_14.png'));
            loaders.push(loadSprite('../images/core_1.png'));
            loaders.push(loadSprite('../images/core_2.png'));
            loaders.push(loadSprite('../images/core_3.png'));
            loaders.push(loadSprite('../images/core_4.png'));
            loaders.push(loadSprite('../images/core_5.png'));
            loaders.push(loadSprite('../images/core_6.png'));
            loaders.push(loadSprite('../images/core_7.png'));
            loaders.push(loadSprite('../images/core_8.png'));
            loaders.push(loadSprite('../images/core_9.png'));
            loaders.push(loadSprite('../images/core_10.png'));
            loaders.push(loadSprite('../images/monster_1.png'));
            loaders.push(loadSprite('../images/monster_2.png'));
            loaders.push(loadSprite('../images/monster_3.png'));

            jQuery.when.apply(null, loaders).done(loadingImagesFinished);
        </script>
    </body>
</html>